body{
    background-color: #E5E4E2;
}
a{
    text-decoration: none;
     color:#696969;
     font-size: 27px;
    font-weight: 800;
}
ul{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
li {
    list-style: none;
}
img{
    margin-top: 150px;
    margin-left: 480px;
    border-radius: 5%;
}
h1{
    color: #696969;
    text-align: center;
}
