* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Arial Geo';
    src: url(../fonts/arial_geo.ttf);
}

body{
    background-color:  #1C1F2A;
    font-family: 'Arial Geo';
}
header{
   background-color: #12151C;
}

a{
    text-decoration: none;
    color: #F5F3EF;
     font-size: 20px;
    font-weight: 800;
    margin-right: 30px;
    margin-left: 50px;
}
 a:active{
    color:#BFC9D4 ;
}
a:hover{
    color: #C9A24D;
}
 ul{
    display: flex;
    justify-content: flex-start;
    padding: 13PX 10px;
}
li {
    list-style: none;
}
img{
   margin-left: 500px; 
   margin-top: 130px;

}
.main h1{
    margin-left: 70px;
    font-size: 35px;
    color: #F5F3EF ;
    text-align: center;
}
.main h2{
    margin-left: 70px;
    font-size: 35px;
    color:  #F5F3EF;
    text-align: center; 
}
.main2 p{
    font-size: 30px;
     color: #F5F3EF;
      margin-left: 70px;
      margin-top: 70px;
      text-align: center;
}
.main3 p{
     font-size: 30px;
     color: #F5F3EF;
      margin-left: 70px;
      margin-top: 70px;
      text-align: center;
}
.main4 p{
    font-size: 30px;
     color: #F5F3EF;
      margin-left: 70px;
      margin-top: 70px;
      text-align: center;
}
.main5 p{
    font-size: 30px;
     color: #F5F3EF;
      margin-left: 70px;
      margin-top: 70px;
      text-align: center;
}
.last-main{
    color:white;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    background-color: ;
    margin-bottom: 150px;
}
.photo{
     display: flex;      
      gap: 20px;
     align-items: flex-start;
     margin-left: -450px;
     margin-bottom: 140px;
}

.biog{
     display: flex;
  flex-direction: column; 
}
.biog p{
    font-size: 30px;
    font-weight:400 ;
    color:  #F5F3EF; 
    margin-top:110px;
}
.plane{
    display: flex;
}
h1{
     color: #C9A24D;
    font-size: 35px;
     margin-left: 60px;
}
.plane p{
    color:  #F5F3EF;
    font-size: 25px;
    margin-bottom: 50px;
     margin-left: 60px;
}
.plane img{
    width: 500px;
    height: 500px;
    margin-left: 30px;
    margin-right: 25px;
    margin-top: 40px;
}
.plane1 p{
    color: #F5F3EF;
    font-size: 25px;
    margin-bottom: 150px;
     margin-left: 60px;
}
.biog1{
    display: flex;
}
.biog1 img{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 20px;
}
.biog1 h1{
    color: #C9A24D;
    font-size: 35px;
    margin-bottom: 25px;
    margin-left: 60px;
    margin-top: 10px;  
}
.biog1 p{
    margin-top: 65px;
     font-size: 30px;
    font-weight:400 ;
    color:  #F5F3EF;
    margin-left: -250px;
    margin-bottom: 150px;
}
.biog2 p{
    margin-top: 65px;
     font-size: 30px;
    font-weight:400 ;
    color:  #F5F3EF;
    margin-left: 60px;
}
.books{
    margin-left: -450px;

}
.book{
    display: flex;
}
.book p{
    font-size: 25px;
    color: #F5F3EF;
    margin-top: 190px;
    text-align: start;
    margin-left: 30px;
}
.book2{
    display: flex;
}
.book2 p{
     font-size: 25px;
    color: #F5F3EF;
    margin-top: 190px;
    text-align: start;
    margin-left: 30px;
}
.book3{
    display: flex;
        margin-bottom: 100px;
}
.book3 p{
     font-size: 25px;
    color: #F5F3EF;
    margin-top: 190px;
    text-align: start;
    margin-left: 30px;
}
.box{
    display:flex; 
}
.boxpic{
    display: flex;
    flex-direction: column;
    width: 500px;
   height: 500px;
   margin-right: 600px;
}
.boxpic img{
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    margin-left: -1190px;
}
.box h1{
    font-size: 35px;
    color: #C9A24D;
    margin-left: 30px;
    margin-top: 20px;
}
.box p{
    font-size: 25px;
    font-weight: 400;    
     color:  #F5F3EF; 
   margin-left:400px;
   margin-top: 150px;
}
.boxx{
     font-size: 25px;
    color:  #F5F3EF;
    margin-left: 40px;
    margin-bottom: 150px;
    margin-top: 90px;
}
.box1 h1{
font-size: 35px;
    color: #C9A24D;
}
.box1 p{
    font-size: 25px;
    font-weight: 400;
     color:  #F5F3EF; 
     text-align: center;
     margin-top: 30px;
     margin-left: 30px;

}
.images{
    gap: 15px;
    width: 500px;
    height: 500px;
}
 .music-1 h2{
    font-size: 40px;
    color:  #C9A24D;
    margin-left: 30px;
    margin-top: 350px;
}
.footer-row1{
    display: flex;
}
.footer-row1 h5{
    font-size: 25px;
    color:#F5F3EF;
    margin-left: 20px;
    margin-top: 30px;  
    margin-bottom: 50px;
}
.footer-row1 h5:hover{
    color: #C9A24D;
}
.card{
    margin-left: 100px;
    margin-top: 110px;
}
.card h1{
    margin-bottom: 40px;
    color: #F5F3EF;
}
.photo-albom{
    display: flex;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 100px;
}
.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-top: 60px;
  transition: width 2s, height 3s;
 
}
.gallery img:hover{
    width: 300px;
    height: 350px;
}
.gallery h3{
    color: #F5F3EF;
    font-size: 30px;
    text-align: center;
    margin-left: 300px;
}
.contact {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top:90px;
}

.contact-info {
  background-color:#C9A24D ; 
  width: 420px;
  padding: 60px;
  text-align: center;
  border: 1px solid #12151C;
}

.contact-info img {
  width: 70px;
  margin-top: 20px;
  margin-left: 30px;
}

.contact-info h3 {
  margin-bottom: 6px;
  color: #12151C;
}
.contact-info h3:hover{
    color:#F5F3EF;
}
.tbc img{
   margin-left: 650px;
  margin-top: 130px;
  width: 250px;
  height: 250px;
}