* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E4E2;
  
}
header{
  
}
a{
    text-decoration: none;
     color: white;
     font-size: 20px;
    font-weight: 800;
    margin-right: 300px;
    margin-right: 50px;
}
ul{
    display: flex;
    justify-content: flex-start;
    background-color:black;
    padding: 13PX 10px;
}
li {
    list-style: none;
}
img{
   margin-left: 500px; 
   margin-top: 130px;

}
.main h1{
    margin-left: 70px;
    font-size: 35px;
    color: #696969;
    text-align: center;
}
.main h2{
    margin-left: 70px;
    font-size: 35px;
    color: #696969;
    text-align: center; 
}
.photo{
     display: flex;      
      gap: 20px;
     align-items: flex-start;
     margin-left: -450px;
     margin-bottom: 140px;
}
.biog{
     display: flex;
  flex-direction: column; 
}
.biog p{
    font-size: 30px;
    font-weight:400 ;
    color: #696969; 
    margin-top:110px;
}
.biog1 p{
    margin-top: 65px;
     font-size: 30px;
    font-weight:400 ;
    color: #696969;
    margin-left: 60px;
}
.box{
    display:flex; 
}
.boxpic{
    display: flex;
    flex-direction: column;
    width: 500px;
   height: 500px;
       margin-right: 500px;
}
.boxpic img{
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    margin-left: -1190px;
}
.box h1{
    font-size: 35px;
    color: #696969;
}
.box p{
    font-size: 30px;
    font-weight: 400;    
     color: #696969; 
   margin-left:400px;
   margin-top: 150px;
}
.boxx{
     font-size: 35px;
    color: #696969;
    margin-left: 40px;
    margin-bottom: 80px;
    margin-top: 90px;
}

.box1 h1{
font-size: 35px;
    color: #696969;
}
.box1 p{
    font-size: 30px;
    font-weight: 400;
    margin-left: 30px;
     color: #696969; 
}
.images{
    display: flex;
    gap: 15px;
    margin-left: -350px;
    width: 500px;
    height: 500px;
}
.footer h2{
    font-size: 40px;
    color: #696969;
}
.footer h5{
    font-size: 20px;
    color: #696969;
}
.footer{
    margin-top: 150px;
}
.card{
    margin-left: 100px;
    margin-top: 110px;
}
.card2{
     display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -330px;
  margin-left: 150px;
}
.contact-info{
    margin-top: 250px;
    display: flex;
    gap: 150px;
    margin-left: 120px;
}